﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Default.aspx.vb" Inherits="WebApplication4._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Página sin título</title>
    

<meta http-equiv="Refresh" content="5;url=./index.html"/>
<!--C:\xampp\xampp\htdocs!-->

</head>
<body>


    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
