h2{
font-style: italic;
color: #ffffff;
}

a:hover{
color: #ff0000;
}
.linkerror{
font: bold;
color: #00ff00; 
text-decoration: none;
}

.tablaaviso{
vertical-align: center;
background-color: #00CCFF;
padding: 20;
font-family: tahoma;
text-align: center;
border-style: solid;
color: #000000;
}

.caja_buscar{
background-color: #000000;
border: solid;
border-color: #ffffff;
color: #00ccff;
font-family: verdana;
}

.c_princ{
background-color: #ffffcc;
font-family : verdana;
}
.linkmenu{
font-weight: bold;
color: #000000; 
text-decoration: none;
background-image: url(boton_menu.GIF);
background-position: center center;
background-repeat:no-repeat;
padding-right: 6%;
padding-left: 6%;
}

.choroy{
background-image: url(Choroy.png);
background-position: center center;
background-repeat:no-repeat;
}

.boton_panel {
background-color: #00CCFF;
color: #000000;
font-weight: bold;
font-family: verdana;
}

.cabeceranegra{
background-color: #000000;
}

.paneles{
-moz-opacity:.60;
opacity:.5;
filter:"alpha(opacity=50)";
}