/*ul{

list-style-image: url(./images/terminal.png);
list-style-position: inside;
vertical-align: text-top;
}*/

.lengs{
border-style: dotted;
color: rgba(0,100,0,0.7);
cursor: default;
}

.lengs div{
font: tahoma;
color: black;
cursor: default;
}

.toolbar{
font-family: tahoma;
color: white;
cursor: default;
font-size: 20px;
}

.cuerpo{
width:770; 
background-color:#ffffff;
}

.progra{
margin-right: auto;
display: none;
font-family: tahoma;
padding-left: 40px;
text-align: left;
font: tahoma;
color: black;
width: 40%;
}

#c_contacto{
display: none;
font-family: tahoma;
font: tahoma;
color: black;
}

#c_home{
	font-family: tahoma;
}

.c_home{
	font-size: 12 px;
font-family: tahoma;
font: tahoma;
color: black;
}#c_home #secc h3 {
	font-size: 12px;
}

.tablaaviso{
vertical-align: center;
background-color: #00CCFF;
padding: 20;
font-family: tahoma;
text-align: center;
border-style: solid;
color: #000000;
}

.linkerror{
font: bold;
color: #00ff00; 
text-decoration: none;
}
#c_home .demo #tabs {
	font-size: 14px;
}
